<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>DH Footwear | Bienvenidos</title>

        <link rel="icon" href="/images/favicon.ico" type="image/png">
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/owl.carousel.min.css">
        <link rel="stylesheet" href="css/owl.theme.default.min.css">
        <script src="scripts/jquery.min.js"></script>
        <script src="scripts/owl.carousel.min.js"></script>
        <script src="https://unpkg.com/feather-icons"></script>
    </head>
    <body>
        
        <header>
            <div class="container">
                <a href="/home" class="logo">
                    <img src="/images/logotipo-dh-footwear.png" alt="Logotipo DG-Footwear" class="lg"/>
                    <img src="/images/isotipo-dh-footwear.png" alt="Logotipo DG-Footwear" class="sm"/>
                </a>
                <form class="search-box">
                    <i data-feather="search"></i>
                    <input type="text" name="search-box" id="search-box" placeholder="Buscar" />
                </form>                                
                <div class="user-actions">
                    <a href="/register">Registro</a>|
                    <span>¿Ya tenés una cuenta?</span> <a href="/login">Ingresar</a>|
                    <a href="/product-cart"><i data-feather="shopping-cart"></i></a>
                </div>
                <nav>
                    <a href="/market">tienda</a>
                    <a href="/2022">nuevo 2022</a>
                    <a href="/season">temporada</a>
                    <a href="/categories">categorias</a>
                </nav>
                <a href="#" class="menu-toogle" onclick="toogleMenuMobile();"><i data-feather="menu"></i></a>
            </div>
            <nav id="menu-mobile">
                <a href="#" class="menu-toogle" onclick="toogleMenuMobile();"><i data-feather="x"></i></a>
                <a href="/market">tienda</a>
                <a href="/2022">nuevo 2022</a>
                <a href="/season">temporada</a>
                <a href="/categories">categorias</a>
                <a href="/product-cart">mi carrito</a>
                <hr>
                <a href="/register">registro</a>
                <a href="/login">ingresar</a>
            </nav>
        </header>

        <section id="main-banner">
            <div class="container">
                <div id="carousel-home" class="owl-carousel owl-theme">
                    <div class="item">
                        <article>
                            <div class="caption">
                                <h3>Adidas Coreracer</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed maximus enim quis pulvinar luctus. Donec sit amet aliquam ex, sit amet tempus turpis.</p>
                                <div class="container-btn">
                                    <a class="btn">Ver producto</a>
                                    <a class="btn"><i data-feather="shopping-cart"></i>Agregar al carrito</a>
                                </div>
                            </div>
                            <div class="image">
                                <img src="/images/productos/adidas/coreracer/AC-5.png"/>
                            </div>
                        </article>
                    </div>
                    <div class="item">
                        <article>
                            <div class="caption">
                                <h3>Adidas Coreracer</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed maximus enim quis pulvinar luctus. Donec sit amet aliquam ex, sit amet tempus turpis.</p>
                                <div class="container-btn">
                                    <a class="btn">Ver producto</a>
                                    <a class="btn"><i data-feather="shopping-cart"></i>Agregar al carrito</a>
                                </div>
                            </div>
                            <div class="image">
                                <img src="/images/productos/adidas/coreracer/AC-5.png"/>
                            </div>
                        </article>
                    </div>
                    <div class="item">
                        <article>
                            <div class="caption">
                                <h3>Adidas Coreracer</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed maximus enim quis pulvinar luctus. Donec sit amet aliquam ex, sit amet tempus turpis.</p>
                                <div class="container-btn">
                                    <a class="btn">Ver producto</a>
                                    <a class="btn"><i data-feather="shopping-cart"></i>Agregar al carrito</a>
                                </div>
                            </div>
                            <div class="image">
                                <img src="/images/productos/adidas/coreracer/AC-5.png"/>
                            </div>
                        </article>
                    </div>
                    <div class="item">
                        <article>
                            <div class="caption">
                                <h3>Adidas Coreracer</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed maximus enim quis pulvinar luctus. Donec sit amet aliquam ex, sit amet tempus turpis.</p>
                                <div class="container-btn">
                                    <a class="btn">Ver producto</a>
                                    <a class="btn"><i data-feather="shopping-cart"></i>Agregar al carrito</a>
                                </div>
                            </div>
                            <div class="image">
                                <img src="/images/productos/adidas/coreracer/AC-5.png"/>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </section>

        <section class="section-common">
            <div class="container">
                <h2>Productos destacados</h2>

                <div id="carousel-products-a" class="owl-carousel owl-theme">
                    <div class="item">
                        <article>
                            <div class="image">
                                <img src="/images/productos/adidas/coreracer/AC-5.png"/>
                            </div>
                            <div class="caption">
                                <h3>Adidas Coreracer</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                
                                <span class="price">$8.000</span>
                            </div>
                        </article>
                    </div>
                    <div class="item">
                        <article>
                            <div class="image">
                                <img src="/images/productos/adidas/coreracer/AC-5.png"/>
                            </div>
                            <div class="caption">
                                <h3>Adidas Coreracer</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                
                                <span class="price">$8.000</span>
                            </div>
                        </article>
                    </div>
                    <div class="item">
                        <article>
                            <div class="image">
                                <img src="/images/productos/adidas/coreracer/AC-5.png"/>
                            </div>
                            <div class="caption">
                                <h3>Adidas Coreracer</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                
                                <span class="price">$8.000</span>
                            </div>
                        </article>
                    </div>
                    <div class="item">
                        <article>
                            <div class="image">
                                <img src="/images/productos/adidas/coreracer/AC-5.png"/>
                            </div>
                            <div class="caption">
                                <h3>Adidas Coreracer</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                
                                <span class="price">$8.000</span>
                            </div>
                        </article>
                    </div>
                    <div class="item">
                        <article>
                            <div class="image">
                                <img src="/images/productos/adidas/coreracer/AC-5.png"/>
                            </div>
                            <div class="caption">
                                <h3>Adidas Coreracer</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                
                                <span class="price">$8.000</span>
                            </div>
                        </article>
                    </div>
                    <div class="item">
                        <article>
                            <div class="image">
                                <img src="/images/productos/adidas/coreracer/AC-5.png"/>
                            </div>
                            <div class="caption">
                                <h3>Adidas Coreracer</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                
                                <span class="price">$8.000</span>
                            </div>
                        </article>
                    </div>
                    <div class="item">
                        <article>
                            <div class="image">
                                <img src="/images/productos/adidas/coreracer/AC-5.png"/>
                            </div>
                            <div class="caption">
                                <h3>Adidas Coreracer</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                
                                <span class="price">$8.000</span>
                            </div>
                        </article>
                    </div>
                </div>

            </div>
        </section>

        <section class="section-common">
            <div class="container">
                <h2>Nuevos productos / 2022</h2>

                <div id="carousel-products-b" class="owl-carousel owl-theme">
                    <div class="item" data-merge="2">
                        <article>
                            <div class="image">
                                <img src="/images/productos/adidas/coreracer/AC-5.png"/>
                            </div>
                            <div class="caption">
                                <h3>Adidas Coreracer</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                
                                <span class="price">$8.000</span>
                            </div>
                        </article>
                    </div>
                    <div class="item" data-merge="1">
                        <article>
                            <div class="image">
                                <img src="/images/productos/adidas/coreracer/AC-5.png"/>
                            </div>
                            <div class="caption">
                                <h3>Adidas Coreracer</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                
                                <span class="price">$8.000</span>
                            </div>
                        </article>
                    </div>
                    <div class="item" data-merge="1">
                        <article>
                            <div class="image">
                                <img src="/images/productos/adidas/coreracer/AC-5.png"/>
                            </div>
                            <div class="caption">
                                <h3>Adidas Coreracer</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                
                                <span class="price">$8.000</span>
                            </div>
                        </article>
                    </div>
                    <div class="item" data-merge="1">
                        <article>
                            <div class="image">
                                <img src="/images/productos/adidas/coreracer/AC-5.png"/>
                            </div>
                            <div class="caption">
                                <h3>Adidas Coreracer</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                
                                <span class="price">$8.000</span>
                            </div>
                        </article>
                    </div>
                    <div class="item" data-merge="1">
                        <article>
                            <div class="image">
                                <img src="/images/productos/adidas/coreracer/AC-5.png"/>
                            </div>
                            <div class="caption">
                                <h3>Adidas Coreracer</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                
                                <span class="price">$8.000</span>
                            </div>
                        </article>
                    </div>
                    <div class="item" data-merge="1">
                        <article>
                            <div class="image">
                                <img src="/images/productos/adidas/coreracer/AC-5.png"/>
                            </div>
                            <div class="caption">
                                <h3>Adidas Coreracer</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                
                                <span class="price">$8.000</span>
                            </div>
                        </article>
                    </div>
                    <div class="item" data-merge="1">
                        <article>
                            <div class="image">
                                <img src="/images/productos/adidas/coreracer/AC-5.png"/>
                            </div>
                            <div class="caption">
                                <h3>Adidas Coreracer</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                
                                <span class="price">$8.000</span>
                            </div>
                        </article>
                    </div>                    
                </div>

            </div>
        </section>

        <section class="section-season">
            <div class="container">
                <h2>OTOÑO / INVIERTO 2022</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed maximus enim quis pulvinar luctus. Donec sit amet aliquam ex, sit amet tempus turpis.</p>
                <a class="btn">ver productos</a>
            </div>
        </section>

        <section class="section-common">
            <div class="container">
                <h2>Deportes</h2>

                <div id="carousel-products-c" class="owl-carousel owl-theme">
                    <div class="item">
                        <article>
                            <div class="image">
                                <img src="/images/productos/adidas/coreracer/AC-5.png"/>
                            </div>
                            <div class="caption">
                                <h3>Adidas Coreracer</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                
                                <span class="price">$8.000</span>
                            </div>
                        </article>
                    </div>
                    <div class="item">
                        <article>
                            <div class="image">
                                <img src="/images/productos/adidas/coreracer/AC-5.png"/>
                            </div>
                            <div class="caption">
                                <h3>Adidas Coreracer</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                
                                <span class="price">$8.000</span>
                            </div>
                        </article>
                    </div>
                    <div class="item">
                        <article>
                            <div class="image">
                                <img src="/images/productos/adidas/coreracer/AC-5.png"/>
                            </div>
                            <div class="caption">
                                <h3>Adidas Coreracer</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                
                                <span class="price">$8.000</span>
                            </div>
                        </article>
                    </div>
                    <div class="item">
                        <article>
                            <div class="image">
                                <img src="/images/productos/adidas/coreracer/AC-5.png"/>
                            </div>
                            <div class="caption">
                                <h3>Adidas Coreracer</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                
                                <span class="price">$8.000</span>
                            </div>
                        </article>
                    </div>
                    <div class="item">
                        <article>
                            <div class="image">
                                <img src="/images/productos/adidas/coreracer/AC-5.png"/>
                            </div>
                            <div class="caption">
                                <h3>Adidas Coreracer</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                
                                <span class="price">$8.000</span>
                            </div>
                        </article>
                    </div>
                    <div class="item">
                        <article>
                            <div class="image">
                                <img src="/images/productos/adidas/coreracer/AC-5.png"/>
                            </div>
                            <div class="caption">
                                <h3>Adidas Coreracer</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                
                                <span class="price">$8.000</span>
                            </div>
                        </article>
                    </div>
                    <div class="item">
                        <article>
                            <div class="image">
                                <img src="/images/productos/adidas/coreracer/AC-5.png"/>
                            </div>
                            <div class="caption">
                                <h3>Adidas Coreracer</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                
                                <span class="price">$8.000</span>
                            </div>
                        </article>
                    </div>
                </div>

            </div>
        </section>

        <section class="section-common">
            <div class="container">
                <h2>Urbano</h2>

                <div id="carousel-products-d" class="owl-carousel owl-theme">
                    <div class="item">
                        <article>
                            <div class="image">
                                <img src="/images/productos/adidas/coreracer/AC-5.png"/>
                            </div>
                            <div class="caption">
                                <h3>Adidas Coreracer</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                
                                <span class="price">$8.000</span>
                            </div>
                        </article>
                    </div>
                    <div class="item">
                        <article>
                            <div class="image">
                                <img src="/images/productos/adidas/coreracer/AC-5.png"/>
                            </div>
                            <div class="caption">
                                <h3>Adidas Coreracer</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                
                                <span class="price">$8.000</span>
                            </div>
                        </article>
                    </div>
                    <div class="item">
                        <article>
                            <div class="image">
                                <img src="/images/productos/adidas/coreracer/AC-5.png"/>
                            </div>
                            <div class="caption">
                                <h3>Adidas Coreracer</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                
                                <span class="price">$8.000</span>
                            </div>
                        </article>
                    </div>
                    <div class="item">
                        <article>
                            <div class="image">
                                <img src="/images/productos/adidas/coreracer/AC-5.png"/>
                            </div>
                            <div class="caption">
                                <h3>Adidas Coreracer</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                
                                <span class="price">$8.000</span>
                            </div>
                        </article>
                    </div>
                    <div class="item">
                        <article>
                            <div class="image">
                                <img src="/images/productos/adidas/coreracer/AC-5.png"/>
                            </div>
                            <div class="caption">
                                <h3>Adidas Coreracer</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                
                                <span class="price">$8.000</span>
                            </div>
                        </article>
                    </div>
                    <div class="item">
                        <article>
                            <div class="image">
                                <img src="/images/productos/adidas/coreracer/AC-5.png"/>
                            </div>
                            <div class="caption">
                                <h3>Adidas Coreracer</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                
                                <span class="price">$8.000</span>
                            </div>
                        </article>
                    </div>
                    <div class="item">
                        <article>
                            <div class="image">
                                <img src="/images/productos/adidas/coreracer/AC-5.png"/>
                            </div>
                            <div class="caption">
                                <h3>Adidas Coreracer</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                
                                <span class="price">$8.000</span>
                            </div>
                        </article>
                    </div>
                </div>

            </div>
        </section>

        <script src="scripts/functions.js"></script>

    </body>
</html>