<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>DH Footwear | Bienvenidos</title>
        
        <link rel="stylesheet" href="css/style.css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    </head>
    <body>
        
        <header>
            <div class="container">
                <a href="/home" class="logo">
                    <img src="/images/logotipo-dh-footwear.png" alt="Logotipo DG-Footwear"/>
                </a>
                <input type="text" name="search-box" id="search-box" placeholder="Buscar" />
                <div class="user-actions">
                    <a href="/register"> Registrarme</a> |
                    ¿Ya tenés una cuenta? <a href="/login"> Ingresar <i class="far fa-user-circle"></i></a>
                </div>
            </div>
        </header>

    </body>
</html>