<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>DH Footwear | Login</title>

        <link rel="icon" href="/images/favicon.ico" type="image/png">
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/owl.carousel.min.css">
        <link rel="stylesheet" href="css/owl.theme.default.min.css">
        <script src="scripts/jquery.min.js"></script>
        <script src="scripts/owl.carousel.min.js"></script>
        <script src="https://unpkg.com/feather-icons"></script>
    </head>

<body>

    <header>
        <div class="container">
            <a href="/home" class="logo">
                <img src="/images/logotipo-dh-footwear.png" alt="Logotipo DG-Footwear" class="lg"/>
                <img src="/images/isotipo-dh-footwear.png" alt="Logotipo DG-Footwear" class="sm"/>
            </a>
            <form class="search-box">
                <i data-feather="search"></i>
                <input type="text" name="search-box" id="search-box" placeholder="Buscar" />
            </form>                                
            <div class="user-actions">
                <a href="/register">Registro</a>|
                <span>¿Ya tenés una cuenta?</span> <a href="/login">Ingresar</a>|
                <a href="/product-cart"><i data-feather="shopping-cart"></i></a>
            </div>
            <nav>
                <a href="/market">tienda</a>
                <a href="/2022">nuevo 2022</a>
                <a href="/season">temporada</a>
                <a href="/categories">categorias</a>
            </nav>
            <a href="#" class="menu-toogle" onclick="toogleMenuMobile();"><i data-feather="menu"></i></a>
        </div>
        <nav id="menu-mobile">
            <a href="#" class="menu-toogle" onclick="toogleMenuMobile();"><i data-feather="x"></i></a>
            <a href="/market">tienda</a>
            <a href="/2022">nuevo 2022</a>
            <a href="/season">temporada</a>
            <a href="/categories">categorias</a>
            <a href="/product-cart">mi carrito</a>
            <hr>
            <a href="/register">registro</a>
            <a href="/login">ingresar</a>
        </nav>
    </header>

    <div class="contenedor">

        <div class="contenedorlogin">

            <form class="login">

                <p class="title">Login</p>
                <input type="text" placeholder="Username" autofocus/>

                <i class="passwordlogin"></i>
                <input type="password" placeholder="Password" />

                <div class="olvidaste">
                    <a href="#">¿Olvidaste tu contraseña?</a>
                </div>

                <div>
                    <button class="button-login">Login</button>
                </div>

            </form>

        </div>

    </div>

    <script src="scripts/functions.js"></script>

</body>
</html>