<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Log in</title>

        <link rel="icon" href="/images/favicon.ico" type="image/png">
        <link rel="stylesheet" href="css/style.css">
        <script src="https://unpkg.com/feather-icons"></script>
    </head>

<body>

    <header>
        <div class="container">
            <a href="/home" class="logo">
                <img src="/images/logotipo-dh-footwear.png" alt="Logotipo DG-Footwear"/>
            </a>
            <div class="search-box">
                <i data-feather="search"></i>
                <input type="text" name="search-box" id="search-box" placeholder="Buscar" />
            </div>                                
            <div class="user-actions">
                <a href="/register"><i data-feather="user-plus"></i> Registrarme</a> |
                <span>¿Ya tenés una cuenta?</span> <a href="/login"><i data-feather="log-in"></i> Ingresar</a>
            </div>
        </div>
    </header>

    <div class="contenedor">

    <div class="contenedorlogin">

        <form class="login">

            <p class="title">Log in</p>
            <input type="text" placeholder="Username" autofocus/>
  
            <i class="passwordlogin"></i>
            <input type="password" placeholder="Password" />
  
            <i class="olvidaste"></i>
            <a href="#">¿Olvidaste tu contraseña?</a>
  
            <button>
              <i class="buttonregister"></i>
              <span class="state">Log in</span>
            </button>
  
          </form>

    </div>

      </div>

    </body>
    </html>