<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>DH Footwear | Carrito de compras </title>

        <link rel="icon" href="/images/favicon.ico" type="image/png">
        <link rel="stylesheet" href="css/carrito.css">
        <script src="https://unpkg.com/feather-icons"></script>
    </head>
    <body>
        
        <header>
            <div class="container">
                <a href="/home" class="logo">
                    <img src="/images/logotipo-dh-footwear.png" alt="Logotipo DG-Footwear"/>
                </a>
                <div class="search-box">
                    <i data-feather="search"></i>
                    <input type="text" name="search-box" id="search-box" placeholder="Buscar" />
                </div>                                
                <div class="user-actions">
                    <a href="/register"><i data-feather="user-plus"></i> Registrarme</a> |
                    <span>¿Ya tenés una cuenta?</span> <a href="/login"><i data-feather="log-in"></i> Ingresar</a> | <a href="/product-cart"> Carrito de compras </a>
                </div>
            </div>
        </header> <br><br>

<div class="carro">

<h1>Mi carrito</h1> 
<a href="#">Seguir comprando</a>

</div>


<div class="carritoconteiner">

    <div class="productocarrito">
        <div><img class="imgcarro" src="/images/productos/Adidas Coreracer/AC-2.jpeg" alt="Imagen producto"></div>
        

        <div class="carr2"> <h2>Nombre producto</h2> <br>
            <p>Detalles seleccionados</p> <br>
            <a href="#">Editar selección</a></div>
       
        <div><form class="formproduct">
            <label>Cantidad</label>
            <select name="cantidad" id="">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            </form>
        </div>
      

        <div class="totalcarr">
            
            <p>Total</p> <br>
            <h2>$20.000</h2><br>
            <a href="#">Cancelar</a></div>
        
    </div>

    <div class="productocomprar">

     <div>
         <form>
             <label>¿Tenés un código de promoción?</label>
             <input type="text" name="search-box" id="search-box" placeholder="Ingresá tu código" />
             <button>Validar</button>
         </form>
     </div>

     <div>
         <form>
        <label>Calcula el costo de envío</label>
        <input type="text" name="search-box" id="search-box" placeholder="Código postal" />
        <button>Calcular</button>
        </form>
    </div>

    <div class="texto">
    <p>
        Subtotal: $20.000
    </p>
    <p>
        Costo envío: $100
    </p>
<p>
    Promoción envío: $400
</p>

<p>
    Total: $19.600
</p>
    </div>

    <div class="boton">
<button>Comprar</button>
    </div>
             

    </div>

</div>






    
      <!-- Iniciador de iconos -->
    <script>feather.replace()</script>

    </body>
    </html>