<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>DH Footwear | Registro</title>

        <link rel="icon" href="/images/favicon.ico" type="image/png">
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/owl.carousel.min.css">
        <link rel="stylesheet" href="css/owl.theme.default.min.css">
        <script src="scripts/jquery.min.js"></script>
        <script src="scripts/owl.carousel.min.js"></script>
        <script src="https://unpkg.com/feather-icons"></script>
    </head>

<body>

    <header>
        <div class="container">
            <a href="/home" class="logo">
                <img src="/images/logotipo-dh-footwear.png" alt="Logotipo DG-Footwear" class="lg"/>
                <img src="/images/isotipo-dh-footwear.png" alt="Logotipo DG-Footwear" class="sm"/>
            </a>
            <form class="search-box">
                <i data-feather="search"></i>
                <input type="text" name="search-box" id="search-box" placeholder="Buscar" />
            </form>                                
            <div class="user-actions">
                <a href="/register">Registro</a>|
                <span>¿Ya tenés una cuenta?</span> <a href="/login">Ingresar</a>|
                <a href="/product-cart"><i data-feather="shopping-cart"></i></a>
            </div>
            <nav>
                <a href="/market">tienda</a>
                <a href="/2022">nuevo 2022</a>
                <a href="/season">temporada</a>
                <a href="/categories">categorias</a>
            </nav>
            <a href="#" class="menu-toogle" onclick="toogleMenuMobile();"><i data-feather="menu"></i></a>
        </div>
        <nav id="menu-mobile">
            <a href="#" class="menu-toogle" onclick="toogleMenuMobile();"><i data-feather="x"></i></a>
            <a href="/market">tienda</a>
            <a href="/2022">nuevo 2022</a>
            <a href="/season">temporada</a>
            <a href="/categories">categorias</a>
            <a href="/product-cart">mi carrito</a>
            <hr>
            <a href="/register">registro</a>
            <a href="/login">ingresar</a>
        </nav>
    </header>

    <main>
        <!-- action = ruta en donde se va a procesar la info  -->
        <form action="" method="post">
            <div>
                <label for="nombre">Nombre:</label>
                <input type="text" name="nombreUsuario" id="nombre">
            
                <label for="apellido">Apellido:</label>
                <input type="text" name="apellidoUsuario" id="apellido">
            
                <label for="fecha">Fecha nacimiento</label>
                <input placeholder="DD/MM/AA" name="fechanacimiento" type="text" id="fecha">
            
                <label for="usuario">Usuario:</label>
                <input type="text" name="usuario" id="usuario">
            
                <label for="contraseña">Contraseña</label>
                <input type="password" name="passwordUsuario" id="contraseña" minlength="8" maxlength="8">
            
                <label for="confirContraseña">Confirmar contraseña</label>
                <input type="password" name="passwordUsuario" id="confirContraseña" minlength="8" maxlength="8">
            
                <label for="correo">Correo electrónico</label>
                <input type="email" name="emailUsuario" id="correo">
            
                <label for="confirCorreo">Confirmar correo electrónico</label>
                <input type="email" name="emailUsuario" id="confirCorreo">
            </div>
            <div> 
                <div>
                    <button class="button" type="submit">Registrar</button>
                </div>
                <div>
                    <button class="button" type="reset">Cancelar</button>
                </div>
            </div>
        </form>
    </main>

    <footer>

    </footer>
    <script src="scripts/functions.js"></script>
</body>
</html>



