@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New:wght@400;500;900&display=swap');

/* Global */

* {
    margin: 0;
    padding: 0;
    font-family: 'Zen Kaku Gothic New', sans-serif;
    color: #494d51;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
scrollbar-width: none;
scrollbar-color: #ffffffac #ffffff00;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
width: 5px;
}

*::-webkit-scrollbar-track {
background: #ffffff00;
}

*::-webkit-scrollbar-thumb {
background-color: #ffffffac;
border-radius: 10px;
border: 0px solid #ffffff00;
}

body {
    padding-top: 5rem;
    overflow: overlay;
}

p {
    font-size: 1.25rem;
}

a {
    color: #494d51;
    font-weight: 900;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #ec2a00;
}

input:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(73 77 81 / 25%);
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

/* Contenedores */

.container {
    width: 85vw;
    margin: 0 auto;
}

.container-btn {
    width: 100%;
    display: flex;
    flex-direction: row;
}

/* Botones */

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem 0.75rem 1rem;
    background-color: #494d51;
    line-height: normal;
    font-weight: 500;
    border-radius: 5px;
    text-decoration: none !important;
}

.btn:hover {
    background-color: #555a5f;
}

.btn .feather {
    width: 16px;
    height: 16px;
    font-size: 16px;
    stroke-width: 3;
    margin-right: 0.5rem;
}

/* Header */

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #eaeaea;
    padding: 1.5rem 0;
    -webkit-box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.21);
    -moz-box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.21);
    box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.21);
    z-index: 1;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .container .logo {
    display: flex;
}

header .container .logo img {
    width: 256px;
}

header .container .search-box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 1rem;
    background-color: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    overflow: hidden;
    min-width: 25rem;
}

header .container .search-box input {
    border: none;
    background-color: white;
    padding: 0.75rem 1rem;
    font-size: 1rem;
    flex: 1;
}

header .container .search-box input:focus {
    box-shadow: none;
}

header .container .user-actions {
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .container .user-actions span {
    margin-left: 8px;
}

header .container .user-actions a{
    padding: 0.5rem;
    display: flex;
    align-items: center;
}

header .container .user-actions .feather {
    width: 16px;
    height: 16px;
    font-size: 16px;
    stroke-width: 3;
    margin-right: 0.2rem;
}

/* Banner Principal */

#main-banner * {
    color: #eaeaea;
}

#main-banner {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 60vh;
    background-image: url(../images/banners/main-banner-001.jpg);
    background-position: center center;
    background-size: cover;
}

#main-banner article {
    width: 50%;
}

#main-banner article h3 {
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 1rem;
}

#main-banner article p {
    margin-bottom: 2.5rem;
}

#main-banner article .btn {
    margin-right: 1rem;
}

@media only screen and (max-width: 1300px) {
    .container {
        width: 95vw;
    }
}

@media only screen and (max-width: 1152px) {
    header .container .user-actions span {
        display: none;
    }
}


/* Register */
form {
    background-color: white;
    margin: 10px;
    margin: 0 auto;
    border-radius: 19px;
    width: 30%;
    height: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

label {
    margin-left: 8px;
    font-size: 12px;
    padding: 5px;
    display: block;
    width: 100%;
    font-family: sans-serif;
}

input {
    margin-bottom: 10px;
    width: 95%;
    padding: 2%;
    margin-left: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    font-style: italic;
}

input:focus {
    background-color: #f2f2f2;
}

.button {
    width: 94%;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: bolder;
    background-color: #205ab4;
    color: #fff;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
    border: none;
    padding: 3%;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 4px 9px 8px -4px rgba(0, 0, 0, 0.75);
}
.button:hover {
    background-color: #7facde;
}



/* Login */
form .title{
    padding: 15px;
    display: flex;
    justify-content: center;
}

.button-login{
    width: 50%;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: bolder;
    background-color: #205ab4;
    color: #fff;
    cursor: pointer;
    border: none;
    padding: 3%;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 4px 9px 8px -4px rgba(0, 0, 0, 0.75);
    margin-left: 100px;
    margin-top: 20px;
}

.button-login:hover {
    background-color: #7facde;
}

.olvidaste{
    margin-left: 100px;
}