<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head') %>
    <title>DH Footwear | Detalle del Producto</title>

    <body>

        <%- include('../partials/header') %>

        <section class="section-common top-margin">
            <div class="container">

                <div class="row">
                    <div class="col-2">

                        <div class="sumary sumary-images">
                            <div class="image-active">
                                <img src="/static/images/productos/adidas/coreracer/ac-1.jpeg">
                            </div>
                            <div class="image-thumbs">
                                <div class="thumb">
                                    <img src="/static/images/productos/adidas/coreracer/AC-2.jpeg">
                                </div>
                                <div class="thumb">
                                    <img src="/static/images/productos/adidas/coreracer/AC-3.jpeg">
                                </div>
                                <div class="thumb">
                                    <img src="/static/images/productos/adidas/coreracer/AC-4.jpeg" onclick="showImg(this.src)">
                                </div>
                                <div class="thumb">
                                    <img src="/static/images/productos/adidas/coreracer/AC-5.jpeg">
                                </div>

                                <div class="thumb">
                                  <img src="/static/images/productos/adidas/coreracer/AC-5.jpeg">
                              </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="sumary">

                            <span class="breadcrumb">Home > Calzado > Adidas</span>

                            <h1 class="title">Adidas Coreracer</h1>

                            <span class="price">$ 14.500</span>

                            <div class="box-action size">
                                <h4>Talles:</h4>
                                <ul>
                                    <li><a href="">37</a></li>
                                    <li><a href="">38</a></li>
                                    <li><a href="">39</a></li>
                                    <li><a href="">40</a></li>
                                    <li><a href="">41</a></li>
                                    <li><a href="">42</a></li>
                                    <li><a href="">43</a></li>
                                </ul>
                            </div>

                            <div class="box-action quantity">
                                <h4>Cantidad:</h4>
                                <input type="number" min="1" max="7" value="1">
                            </div>

                            <div class="box-action cart-buy">
                                <a class="btn"><i data-feather="shopping-cart"></i>Agregar al carrito</a>
                                <a class="btn btn-red"><i data-feather="credit-card"></i>Comprar Ahora</a>
                            </div>

                        </div>
                    </div>

                </div>

            </section>

            <%- include('../partials/footer') %>
            <script src="/static/scripts/functions.js"></script>
        </body>
    </body>
</html>