<!DOCTYPE html>
<html lang="es">

            <%- include('./partials/head') %>
            <title>DH Footwear | Bienvenidos</title>


    <body>
        
        <%- include('./partials/header') %>

        <section id="main-banner">
            <div class="container">
                <div id="carousel-home" class="owl-carousel owl-theme">
                    <div class="item">
                        <article>
                            <div class="caption">
                                <h3>Adidas Coreracer</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed maximus enim quis pulvinar luctus. Donec sit amet aliquam ex, sit amet tempus turpis.</p>
                                <div class="container-btn">
                                    <a href="/product/detail" class="btn">Ver producto</a>
                                    <a class="btn"><i data-feather="shopping-cart"></i>Agregar al carrito</a>
                                </div>
                            </div>
                            <div class="image">
                                <img src="/images/productos/adidas/coreracer/AC-5.png"/>
                            </div>
                        </article>
                    </div>
                    <div class="item">
                        <article>
                            <div class="caption">
                                <h3>Adidas Coreracer</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed maximus enim quis pulvinar luctus. Donec sit amet aliquam ex, sit amet tempus turpis.</p>
                                <div class="container-btn">
                                    <a class="btn">Ver producto</a>
                                    <a class="btn"><i data-feather="shopping-cart"></i>Agregar al carrito</a>
                                </div>
                            </div>
                            <div class="image">
                                <img src="/images/productos/adidas/coreracer/AC-5.png"/>
                            </div>
                        </article>
                    </div>
                    <div class="item">
                        <article>
                            <div class="caption">
                                <h3>Adidas Coreracer</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed maximus enim quis pulvinar luctus. Donec sit amet aliquam ex, sit amet tempus turpis.</p>
                                <div class="container-btn">
                                    <a class="btn">Ver producto</a>
                                    <a class="btn"><i data-feather="shopping-cart"></i>Agregar al carrito</a>
                                </div>
                            </div>
                            <div class="image">
                                <img src="/images/productos/adidas/coreracer/AC-5.png"/>
                            </div>
                        </article>
                    </div>
                    <div class="item">
                        <article>
                            <div class="caption">
                                <h3>Adidas Coreracer</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed maximus enim quis pulvinar luctus. Donec sit amet aliquam ex, sit amet tempus turpis.</p>
                                <div class="container-btn">
                                    <a class="btn">Ver producto</a>
                                    <a class="btn"><i data-feather="shopping-cart"></i>Agregar al carrito</a>
                                </div>
                            </div>
                            <div class="image">
                                <img src="/images/productos/adidas/coreracer/AC-5.png"/>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </section>

        <section class="section-common">
            <div class="container">
                <h2>Productos destacados</h2>

                <div id="carousel-products-a" class="owl-carousel owl-theme">
                    <div class="item">
                        <article>
                            <div class="image">
                                <img src="/images/productos/adidas/coreracer/AC-5.png"/>
                            </div>
                            <div class="caption">
                                <h3>Adidas Coreracer</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                
                                <span class="price">$8.000</span>
                            </div>
                        </article>
                    </div>
                    <div class="item">
                        <article>
                            <div class="image">
                                <img src="/images/productos/adidas/coreracer/AC-5.png"/>
                            </div>
                            <div class="caption">
                                <h3>Adidas Coreracer</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                
                                <span class="price">$8.000</span>
                            </div>
                        </article>
                    </div>
                    <div class="item">
                        <article>
                            <div class="image">
                                <img src="/images/productos/adidas/coreracer/AC-5.png"/>
                            </div>
                            <div class="caption">
                                <h3>Adidas Coreracer</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                
                                <span class="price">$8.000</span>
                            </div>
                        </article>
                    </div>
                    <div class="item">
                        <article>
                            <div class="image">
                                <img src="/images/productos/adidas/coreracer/AC-5.png"/>
                            </div>
                            <div class="caption">
                                <h3>Adidas Coreracer</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                
                                <span class="price">$8.000</span>
                            </div>
                        </article>
                    </div>
                    <div class="item">
                        <article>
                            <div class="image">
                                <img src="/images/productos/adidas/coreracer/AC-5.png"/>
                            </div>
                            <div class="caption">
                                <h3>Adidas Coreracer</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                
                                <span class="price">$8.000</span>
                            </div>
                        </article>
                    </div>
                    <div class="item">
                        <article>
                            <div class="image">
                                <img src="/images/productos/adidas/coreracer/AC-5.png"/>
                            </div>
                            <div class="caption">
                                <h3>Adidas Coreracer</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                
                                <span class="price">$8.000</span>
                            </div>
                        </article>
                    </div>
                    <div class="item">
                        <article>
                            <div class="image">
                                <img src="/images/productos/adidas/coreracer/AC-5.png"/>
                            </div>
                            <div class="caption">
                                <h3>Adidas Coreracer</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                
                                <span class="price">$8.000</span>
                            </div>
                        </article>
                    </div>
                </div>

                <div class="container-btn">
                    <a class="btn btn-sm btn-red">Ver todos los productos</a>
                </div>

            </div>
        </section>

        <section class="section-common">
            <div class="container">
                <h2>Nuevos productos / 2022</h2>

                <div id="carousel-products-b" class="owl-carousel owl-theme">
                    <div class="item" data-merge="2">
                        <article>
                            <div class="image">
                                <img src="/images/productos/adidas/coreracer/AC-5.png"/>
                            </div>
                            <div class="caption">
                                <h3>Adidas Coreracer</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                
                                <span class="price">$8.000</span>
                            </div>
                        </article>
                    </div>
                    <div class="item" data-merge="1">
                        <article>
                            <div class="image">
                                <img src="/images/productos/adidas/coreracer/AC-5.png"/>
                            </div>
                            <div class="caption">
                                <h3>Adidas Coreracer</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                
                                <span class="price">$8.000</span>
                            </div>
                        </article>
                    </div>
                    <div class="item" data-merge="1">
                        <article>
                            <div class="image">
                                <img src="/images/productos/adidas/coreracer/AC-5.png"/>
                            </div>
                            <div class="caption">
                                <h3>Adidas Coreracer</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                
                                <span class="price">$8.000</span>
                            </div>
                        </article>
                    </div>
                    <div class="item" data-merge="1">
                        <article>
                            <div class="image">
                                <img src="/images/productos/adidas/coreracer/AC-5.png"/>
                            </div>
                            <div class="caption">
                                <h3>Adidas Coreracer</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                
                                <span class="price">$8.000</span>
                            </div>
                        </article>
                    </div>
                    <div class="item" data-merge="1">
                        <article>
                            <div class="image">
                                <img src="/images/productos/adidas/coreracer/AC-5.png"/>
                            </div>
                            <div class="caption">
                                <h3>Adidas Coreracer</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                
                                <span class="price">$8.000</span>
                            </div>
                        </article>
                    </div>
                    <div class="item" data-merge="1">
                        <article>
                            <div class="image">
                                <img src="/images/productos/adidas/coreracer/AC-5.png"/>
                            </div>
                            <div class="caption">
                                <h3>Adidas Coreracer</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                
                                <span class="price">$8.000</span>
                            </div>
                        </article>
                    </div>
                    <div class="item" data-merge="1">
                        <article>
                            <div class="image">
                                <img src="/images/productos/adidas/coreracer/AC-5.png"/>
                            </div>
                            <div class="caption">
                                <h3>Adidas Coreracer</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                
                                <span class="price">$8.000</span>
                            </div>
                        </article>
                    </div>                    
                </div>

                <div class="container-btn">
                    <a class="btn btn-sm btn-red">Ver todos los productos</a>
                </div>

            </div>
        </section>

        <section class="section-season">
            <div class="container">
                <h2>OTOÑO / INVIERTO 2022</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed maximus enim quis pulvinar luctus. Donec sit amet aliquam ex, sit amet tempus turpis.</p>
                <a class="btn">Ver productos</a>
            </div>
        </section>

        <section class="section-common">
            <div class="container">
                <h2>Deportes</h2>

                <div id="carousel-products-c" class="owl-carousel owl-theme">
                    <div class="item">
                        <article>
                            <div class="image">
                                <img src="/images/productos/adidas/coreracer/AC-5.png"/>
                            </div>
                            <div class="caption">
                                <h3>Adidas Coreracer</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                
                                <span class="price">$8.000</span>
                            </div>
                        </article>
                    </div>
                    <div class="item">
                        <article>
                            <div class="image">
                                <img src="/images/productos/adidas/coreracer/AC-5.png"/>
                            </div>
                            <div class="caption">
                                <h3>Adidas Coreracer</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                
                                <span class="price">$8.000</span>
                            </div>
                        </article>
                    </div>
                    <div class="item">
                        <article>
                            <div class="image">
                                <img src="/images/productos/adidas/coreracer/AC-5.png"/>
                            </div>
                            <div class="caption">
                                <h3>Adidas Coreracer</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                
                                <span class="price">$8.000</span>
                            </div>
                        </article>
                    </div>
                    <div class="item">
                        <article>
                            <div class="image">
                                <img src="/images/productos/adidas/coreracer/AC-5.png"/>
                            </div>
                            <div class="caption">
                                <h3>Adidas Coreracer</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                
                                <span class="price">$8.000</span>
                            </div>
                        </article>
                    </div>
                    <div class="item">
                        <article>
                            <div class="image">
                                <img src="/images/productos/adidas/coreracer/AC-5.png"/>
                            </div>
                            <div class="caption">
                                <h3>Adidas Coreracer</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                
                                <span class="price">$8.000</span>
                            </div>
                        </article>
                    </div>
                    <div class="item">
                        <article>
                            <div class="image">
                                <img src="/images/productos/adidas/coreracer/AC-5.png"/>
                            </div>
                            <div class="caption">
                                <h3>Adidas Coreracer</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                
                                <span class="price">$8.000</span>
                            </div>
                        </article>
                    </div>
                    <div class="item">
                        <article>
                            <div class="image">
                                <img src="/images/productos/adidas/coreracer/AC-5.png"/>
                            </div>
                            <div class="caption">
                                <h3>Adidas Coreracer</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                
                                <span class="price">$8.000</span>
                            </div>
                        </article>
                    </div>
                </div>

                <div class="container-btn">
                    <a class="btn btn-sm btn-red">Ver todos los productos</a>
                </div>

            </div>
        </section>

        <section class="section-common">
            <div class="container">
                <h2>Urbano</h2>

                <div id="carousel-products-d" class="owl-carousel owl-theme">
                    <div class="item">
                        <article>
                            <div class="image">
                                <img src="/images/productos/adidas/coreracer/AC-5.png"/>
                            </div>
                            <div class="caption">
                                <h3>Adidas Coreracer</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                
                                <span class="price">$8.000</span>
                            </div>
                        </article>
                    </div>
                    <div class="item">
                        <article>
                            <div class="image">
                                <img src="/images/productos/adidas/coreracer/AC-5.png"/>
                            </div>
                            <div class="caption">
                                <h3>Adidas Coreracer</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                
                                <span class="price">$8.000</span>
                            </div>
                        </article>
                    </div>
                    <div class="item">
                        <article>
                            <div class="image">
                                <img src="/images/productos/adidas/coreracer/AC-5.png"/>
                            </div>
                            <div class="caption">
                                <h3>Adidas Coreracer</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                
                                <span class="price">$8.000</span>
                            </div>
                        </article>
                    </div>
                    <div class="item">
                        <article>
                            <div class="image">
                                <img src="/images/productos/adidas/coreracer/AC-5.png"/>
                            </div>
                            <div class="caption">
                                <h3>Adidas Coreracer</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                
                                <span class="price">$8.000</span>
                            </div>
                        </article>
                    </div>
                    <div class="item">
                        <article>
                            <div class="image">
                                <img src="/images/productos/adidas/coreracer/AC-5.png"/>
                            </div>
                            <div class="caption">
                                <h3>Adidas Coreracer</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                
                                <span class="price">$8.000</span>
                            </div>
                        </article>
                    </div>
                    <div class="item">
                        <article>
                            <div class="image">
                                <img src="/images/productos/adidas/coreracer/AC-5.png"/>
                            </div>
                            <div class="caption">
                                <h3>Adidas Coreracer</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                
                                <span class="price">$8.000</span>
                            </div>
                        </article>
                    </div>
                    <div class="item">
                        <article>
                            <div class="image">
                                <img src="/images/productos/adidas/coreracer/AC-5.png"/>
                            </div>
                            <div class="caption">
                                <h3>Adidas Coreracer</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                
                                <span class="price">$8.000</span>
                            </div>
                        </article>
                    </div>
                </div>

                <div class="container-btn">
                    <a class="btn btn-sm btn-red">Ver todos los productos</a>
                </div>

            </div>
        </section>

        <section class="section-common section-categories">
            <div class="container">
                <h2>Categorías</h2>

                <div class="box-categories">
                    <a href="#">Deportes</a>
                    <a href="#">Urbano</a>
                    <a href="#">Outfit</a>
                    <a href="#">Relax</a>

                    <a href="#" class="abotinados">Abotinados</a>
                    <a href="#" class="ballerinas">Ballerinas</a>
                    <a href="#" class="borcego">Borcegos</a>
                    <a href="#" class="botines">Botines</a>
                    <a href="#" class="botas">Botas</a>
                    <a href="#" class="espadrilles">Espadrilles</a>
                    <a href="#" class="mocasines">Mocasines</a>
                    <a href="#" class="nauticos">Náuticos</a>
                    <a href="#" class="ojotas">Ojotas</a>
                    <a href="#" class="panchas">Panchas</a>
                    <a href="#" class="pantuflas">Pantuflas</a>
                    <a href="#" class="sandalias">Sandalias</a>
                    <a href="#" class="trekking">Trekking</a>
                    <a href="#" class="zapatillas">Zapatillas</a>
                    <a href="#" class="zapatos">Zapatos</a>
                    <a href="#" class="zuecos">Zuecos</a>
                </div>

            </div>
        </section>

        <script src="scripts/functions.js"></script>

    </body>
</html>