<!DOCTYPE html>
<html lang="es">

        <%- include('./partials/head') %>
        <title>DH Footwear | Carrito </title>


<body>
    <%- include('./partials/header') %>

    <br><br>

    <div class="carro">

        <h1>Mi carrito</h1>
        <a href="#">Seguir comprando</a>

    </div>


    <div class="carritoconteiner">

        <div class="productocarrito">
            <div><img class="imgcarro" src="/images/productos/Adidas Coreracer/AC-2.jpeg" alt="Imagen producto"></div>


            <div class="carr2">
                <h2>Nombre producto</h2> <br>
                <p>Detalles seleccionados</p> <br>
                <a href="#">Editar selección</a>
            </div>

            <div>
                <form class="formproduct">
                    <label>Cantidad</label>
                    <select name="cantidad" id="">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </form>
            </div>


            <div class="totalcarr">

                <p>Total</p> <br>
                <h2>$20.000</h2><br>
                <a href="#">Cancelar</a>
            </div>

        </div>

        <div class="productocomprar">

            <div>
                <form>
                    <label>¿Tenés un código de promoción?</label>
                    <input type="text" name="search-box" id="search-box" placeholder="Ingresá tu código" />
                    <button>Validar</button>
                </form>
            </div>

            <div>
                <form>
                    <label>Calcula el costo de envío</label>
                    <input type="text" name="search-box" id="search-box" placeholder="Código postal" />
                    <button>Calcular</button>
                </form>
            </div>

            <div class="texto">
                <p>
                    Subtotal: $20.000
                </p>
                <p>
                    Costo envío: $100
                </p>
                <p>
                    Promoción envío: $400
                </p>

                <p>
                    Total: $19.600
                </p>
            </div>

            <div class="boton">
                <button>Comprar</button>
            </div>


        </div>

    </div>

    <%- include('./partials/footer') %>

    <script src="scripts/functions.js"></script>

</body>

</html>