<footer class="section-common">

    <div class="container">

        <div class="top">
            <div>
                <img src="/images/logotipo-dh-footwear-white.png" alt="Logotipo DG-Footwear"/>
                <div class="social">
                    <a href="https://facebook.com" target="_blank" class="fb"></a>
                    <a href="https://instagram.com" target="_blank" class="ig"></a>
                    <a href="https://twitter.com" target="_blank" class="tt"></a>
                    <a href="https://linkedin.com" target="_blank" class="in"></a>
                    <a href="https://whatsapp.com" target="_blank" class="wp"></a>
                </div>
            </div>
            <div>
                <h4>Nosotros</h4>
                <p>Somos Caro, Chris y Markuz y unimos nuestra experiencia para encarar un proyecto que incluya lo que ya sabemos junto con lo que aprendemos, y asi dejar listo el terreno para incluir nuevos conocimientos.</p>
            </div>
            <div>
                <h4>DH Footwear</h4>
                <p>Este proyecto tiene una temática de "Calzados" para diferentes gustos y circunstancias, un sitio de venta de diversos productos, con variedad de categorías y estilos.</p>
            </div>
            <div>
                <h4>Links</h4>
                <a class="link" href="">Tienda</a>
                <a class="link" href="">Nuevo 2022</a>
                <a class="link" href="">Temporada</a>
                <a class="link" href="">Categorias</a>
            </div>
        </div>
        <div></div>

    </div>

    <div class="container">

        <p>©2022 DH Footwear - All right reserved.</p>
        <p>Design and development by <a href="#">DH GROUP ONE</a></p>

    </div>

</footer>