<!DOCTYPE html>
<html lang="es">

        <%- include('./partials/head') %>
        <title>DH Footwear | Login </title>


<body>

    <%- include('./partials/header') %>

    <section class="section-common login">

        <div class="container">

            <form class="form-box login" action="/home" method="">
                <h3>Login</h3>

                <div class="field-box">
                    <label for="txtUsername">Nombre de usuario</label>
                    <input type="text" id="txtUsername" name="username" />
                </div>

                <div class="field-box">
                    <label for="txtPassword">Contraseña</label>
                    <input type="password" id="txtPassword" name="password" />
                </div>

                <a href="#">¿Olvidaste tu contraseña?</a>

                <div class="btn-box">
                    <button class="btn btn-sm btn-red" type="submit">Ingresar</button>
                </div>

                <a href="/register">Registrate</a>

            </form>

        </div>

    </section>

    <%- include('./partials/footer') %>

    <script src="/static/scripts/functions.js"></script>

</body>
</html>