<!DOCTYPE html>
<html lang="en">

        <%- include('./partials/head') %>
        <title>DH Footwear | Registro</title>


<body>

    <%- include('./partials/header') %>

    <section class="section-common register">

        <div class="container">

            <form class="form-box" action="" method="POST">
                
                <h3>Registro</h3>

                <div class="field-box">
                    <label for="txtName">Nombre:</label>
                    <input type="text" name="txtName" id="txtName">
                </div>

                <div class="field-box">            
                    <label for="txtSurname">Apellido:</label>
                    <input type="text" name="txtSurname" id="txtSurname">
                </div>

                <div class="field-box">  
                    <label for="txtUsername">Usuario:</label>
                    <input type="text" name="txtUsername" id="txtUsername">
                </div>

                <div class="field-box">  
                    <label for="txtDate">Fecha nacimiento</label>
                    <input placeholder="DD/MM/AA" name="txtDate" type="date" id="txtDate">
                </div>

                <hr>
                
                <div class="field-box">  
                    <label for="txtEmail">Correo electrónico</label>
                    <input type="email" name="txtEmail" id="txtEmail">
                </div>
                
                <div class="field-box">  
                    <label for="txtConfirmEmail">Confirmar correo electrónico</label>
                    <input type="email" name="txtConfirmEmail" id="txtConfirmEmail">
                </div>

                <hr>

                <div class="field-box">  
                    <label for="txtPass">Contraseña</label>
                    <input type="password" name="txtPass" id="txtPass" minlength="8" maxlength="8">
                </div>
                
                <div class="field-box">  
                    <label for="txtConfirmPass">Confirmar contraseña</label>
                    <input type="password" name="txtConfirmPass" id="txtConfirmPass" minlength="8" maxlength="8">
                </div>

                <div class="btn-box">
                    <button class="btn btn-sm btn-red" type="submit">Registrar</button>
                </div>
                
                <a href="/login">¿Ya tenes una cuenta? Ingresar</a>

            </form>

        </div>

    </section>

    <%- include('./partials/footer') %>
    
    <script src="/scripts/functions.js"></script>
</body>
</html>



